.posts-options-form {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  color: var(--main-text);
}

.posts-options-form label {
  padding: 8px;
}


.posts-options-form option, .posts-options-form select {
  font-size: 1rem;
  padding: 8px;
}