.sidebar {
  color: white;
  padding: 12px;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 48px;
  background-color: var(--main-background);
  visibility: hidden;
  height: 100%;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transition: 0.25s transform;
  -webkit-transition: 0.25s transform;
  -moz-transition: 0.25s transform;
  -ms-transition: 0.25s transform;
  -o-transition: 0.25s transform;
}

.sidebar.open {
  width: 100%;
  visibility: visible;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

@media screen and (min-width: 800px) {
  .sidebar {
    position: relative;
    margin-top: 20px;
    width: 100%;
    visibility: visible;
    transform: none;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transition: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
  }
}

.sidebar a {
  color: white;
}