/* .child {
  margin-left: 0px;
  border: 1px solid rgb(110, 110, 110);
}

.child .child {
  margin-left: 50px;
  border: 1px solid rgb(109, 109, 109);
}

/* .child .child .child {
  margin-left: 100px;
  border: 1px solid rgb(107, 107, 107);

} */