:root {
  --main-background: rgb(34, 34, 34);
  --nav-background: rgb(49, 49, 49);
  --main-text: white;
  --dull-text: rgb(211, 211, 211);
  --hover-text: rgb(164, 207, 255);
  --dull-blue: rgb(0, 174, 255);
  --button-color: rgb(90, 25, 195);
  --button-hover: rgb(136, 76, 233);
  --modal-frame: rgba(0, 0, 0, 0.87);
  --mobile-sidebar-color: rgb(17, 17, 17);
  --visited-color: rgb(140, 114, 255);
  --visited-hover: rgb(162, 141, 255);
  --input-border: rgb(59, 59, 59);
  --input-background: rgb(24, 24, 24);
}

a {
  text-decoration: none;
}

html {
  background-color: var(--main-background);
}

html * {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

textarea {
  padding: 8px;
  color: var(--dull-text);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid var(--input-border);
  background-color: transparent;
  background-color: var(--input-background);
  outline: none;
  resize: none;
}

textarea:focus {
  border: 1px solid var(--hover-text);
  border: 1px solid var(--dull-blue);
}

input {
  color: var(--dull-text);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px solid var(--input-border);
  background-color: transparent;
  background-color: var(--input-background);
  outline: none;
}

input:focus {
  border: 1px solid var(--dull-blue);
}

.App {
  margin-top: 40px;
}

.main-grid {
  display: grid;
  position: relative;
  padding: 12px 0 12px 0;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .main-grid {
    grid-template-columns: 1fr 350px;
    padding: 12px;
  }
}

section {
  padding: 8px;
}

.posts-list {
}

.posts-list li {
  padding: 8px 0px 8px 0px;
  display: flex;
  align-items: center;
  margin: 0 4px;
}

@media screen and (min-width: 800px) {
  .posts-list li {
    padding: 8x 0px 8px 16px;
  }
}

.post-number {
  color: var(--dull-text);
  padding: 4px;
  margin-right: 10px;
}

.post-votes {
  color: white;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-votes svg {
  fill: white;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.post-votes .vote-up {
  fill: orange;
}

.post-votes .vote-down {
  fill: purple;
}

.post-title {
  padding-bottom: 8px;
  font-weight: bold;
}

.post-title a {
  color: var(--main-text);
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: var(--dull-blue);
}

.post-title a:visited {
  color: var(--visited-color);
}

.post-title a:visited:hover {
  color: var(--visited-hover);
}

.single-post {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
  display: flex;
  align-items: top;
}

.single-post .post-title a {
  font-size: 1.6rem;
}

.post-details {
  flex: 1;
}

.post-title a:hover {
  color: var(--hover-text);
}

.post-subtitle {
  color: var(--dull-text);
  line-height: 1.2rem;
}

.post-subtitle a {
  color: var(--dull-text);
  color: var(--dull-blue);
}

.post-subtitle a:hover {
  color: var(--hover-text);
}

.basic-button {
  background-color: var(--button-color);
  color: var(--main-text);
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.basic-button:hover {
  background-color: var(--button-hover);
}

.basic-button:disabled {
  cursor: not-allowed;
}

.empty-message {
  color: var(--main-text);
  font-size: 1.4rem;
  margin: 0 auto;
  display: block;
  margin-top: 25px;
  text-align: center;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 36px;
}

.load-more button {
  color: white;
  font-size: 1.4rem;
  padding: 8px 40px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(58, 58, 58);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(80, 80, 80);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 104, 104);
}
