html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}

:root {
  --main-background: rgb(34, 34, 34);
  --nav-background: rgb(49, 49, 49);
  --main-text: white;
  --dull-text: rgb(211, 211, 211);
  --hover-text: rgb(117, 181, 255);
  --dull-blue: rgb(40, 131, 236);
  --button-color: rgb(90, 25, 195);
  --button-hover: rgb(136, 76, 233);
  --modal-frame: rgba(0, 0, 0, 0.87);
}

html {
  background-color: var(--main-background);
  font-family: "Roboto";
}

html * {
  box-sizing: border-box;
}

button {
  font-family: "Roboto";
}

textarea {
  font-family: "Roboto";
  padding: 8px;
  color: var(--dull-text);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border: 1px dashed var(--dull-text);
  border: 1px solid white;
  background-color: transparent;
  outline: none;
  resize: none;
}

textarea:focus {
  border: 1px solid var(--hover-text);
}

.App {
  margin-top: 40px;
}

.main-grid {
  display: grid;
  position: relative;
  padding: 12px 0 12px 0;
  overflow: hidden;
}

@media screen and (min-width: 800px) {
  .main-grid {
    grid-template-columns: 1fr 350px;
    padding: 12px;
  }
}

section {
  padding: 12px;
}

.posts-list {
}

.posts-list li {
  padding: 16px 0px 16px 4px;
  display: flex;
  align-items: center;
  margin: 4px;
}

@media screen and (min-width: 800px) {
  .posts-list li {
    padding: 16px 0px 16px 16px;
  }
}

.post-number {
  color: var(--dull-text);
  padding: 8px;
  margin-right: 10px;
}

.post-votes {
  color: white;
  padding: 8px;
  margin-right: 10px;
}
.post-title {
  padding-bottom: 8px;
}

.post-title a {
  color: var(--main-text);
  font-size: 1.4rem;
  line-height: 1.4rem;
}

.single-post {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
  display: flex;
  align-items: top;
}

.single-post .post-title a {
  font-size: 1.6rem;
}

.post-details {
  flex: 1;
}

.post-title a:hover {
  color: var(--hover-text);
}

.post-subtitle {
  color: var(--dull-text);
}

.post-subtitle a {
  color: var(--dull-text);
}

.post-subtitle a:hover {
  color: var(--hover-text);
}

.post-text {
  color: var(--dull-text);
  padding: 8px;
  margin: 16px 0;
  font-size: 1.1rem;
  line-height: 1.2rem;
  border: 1px solid var(--dull-text);
  border: 1px solid gray;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  white-space: pre-wrap;
}

.comments-section > h2 {
  color: var(--main-text);
  font-size: 1.4rem;
}

.comments-section ul {
}

.comments-section li {
  margin-top: 16px;
}

.comment-text {
  color: var(--main-text);
  padding: 12px 0;
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.2rem;
}

.comment-subtitle {
  color: var(--dull-text);
}

.comment-subtitle button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--dull-blue);
  font-weight: bold;
  cursor: pointer;
}

.comment-subtitle button:hover {
  color: var(--hover-text);
}

.comment-username {
  margin-right: 8px;
  color: var(--dull-blue);
}

.post-username {
  color: var(--dull-blue);
}

.child .child {
  margin-left: 14px;
  padding-left: 14px;
  border-left: 1px dotted rgba(255, 255, 255, 0.383);
}

.comment-buttons {
  margin-left: -8px;
}

.comment-buttons > button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--dull-text);
  cursor: pointer;
  padding: 0;
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0 8px;
}

.comment-buttons > button:hover {
  color: var(--dull-blue);
}

.basic-button {
  background-color: var(--button-color);
  color: var(--main-text);
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.basic-button:hover {
  background-color: var(--button-hover);
}

.edit-post-form {
  display: flex;
  flex-direction: column;
}

.edit-post-form textarea {
  margin: 16px 0;
  font-size: 1.1rem;
  line-height: 1.2rem;
  height: 6rem;
}

.edit-post-form > div {
  margin-bottom: 8px;
}

.new-comment-form {
}

.new-comment-form textarea {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.2rem;
  height: 4.8rem;
  width: 100%;
  max-width: 500px;
}

.reply-form {
  padding-top: 8px;
  padding-left: 16px;
}

.reply-form textarea {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.2rem;
  height: 4.8rem;
  width: 100%;
  max-width: 500px;
}

.edit-comment-form {
  padding: 8px 0;
}

.edit-comment-form textarea {
  margin: 10px 0;
  font-size: 1rem;
  line-height: 1.2rem;
  height: 4.8rem;
  width: 100%;
  max-width: 500px;
}
